html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#top-bar {
  height: 20px;
  background-color: #ffffff;
}

#map-canvas {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffaaaa;
}

#map-canvas.with-nav {
  top: 50px;
}

#map-canvas.squish {
  bottom: 50%;
}

.right {
  float: right;
}
