.menu {
  position: absolute;
  background-color: #fff;
  overflow-y: scroll;
}

.modal {
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 30px 10px;
}

.gallery {
  height: 200px;
  overflow: hidden;
}

.gallery-img {
  width: 100%;
  height: 200px;
  background-size: cover;
}

.bottom {
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-listing {
  text-decoration: none;
  display: block;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.menu-listing:active {
  background-color: #aaa;
}

.title {
  font-weight: bold;
}

.info {
  color: #444;
  font-style: italic;
}

#navigation {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 30px;

  background-color: #fff;
}

.nav-button {
  font-size: 16px;
  padding: 5px;
  color: #2234ee;
}

.back {
  float: left;
}

.start-tour {
  float: right;
}

/* This should be a menu */
#controls {
  position: absolute;
  background-color: #fff;

  height: 80px;
  bottom: 0;
  left: 0;
  right: 0;
}

.nearby {
  padding: 10px;
  border-bottom: 1px solid #222;
}

.control {
  padding: 5px;
  float: left;
  width: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 15px;
}

.control.skip, .control.end {
  margin-left: 60px;
}

.next-stop {
  padding: 5px;
  font-style: italic;
}

#loading {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: rgba(40, 40, 40, 0.8);
}

#loading .animation {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.hidden {
  display: none;
}

/* Swipe.js styles */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
